* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EFEFEF;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #45291b;
  color: #F9F2C5;
  padding: 10px;
}

main {
  padding: 25px;
}

.logo {
  width: 38px;
  height: 40px;
}

.brand-name {
  font-size: 16px;
}

.checkout {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.customer-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  background-color: #EBE1D6;
  border-radius: 3px;
  box-shadow: 0 2px 15px 1px rgb(0, 0, 0, 0.15);
  padding: 0 20px 5px 20px;
  width: 600px;
}

.customer-name.card, .payment-info.card {
  padding-bottom: 20px;
}

.card-header {
  font-size: 15px;
  font-weight: 500;
  color: #7d5427;
  padding-top: 5px;
  margin-bottom: 20px;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.checkout-items li {
  border-bottom: 1.5px solid #dcb68c;
}

.checkout-items li:last-child {
  border-bottom: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 50px;
  height: 35px;
}

.item-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
}

.quantity {
  font-size: 14px;
  color: #575757;
  margin-right: 15px;
}

.item-price {
  font-size: 14px;
  font-weight: 600;
}

.item-customization-container {
  margin-bottom: 15px;
}

.item-customization {
  color: #7d5427;
  font-size: 13px;
  margin: 0 0 4px 33px;
}

fieldset {
  color: #7d5427;
  font-size: 13px;
  border: 1px solid #7d5427;
  border-radius: 50px;
  padding-left: 40px;
  margin-bottom: 5px;
}

input {
  background-color: transparent;
  border: none;
  outline-width: 0;
}

.checkout-total-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.label-divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 25%;
}

.subtotal-label, .tax-label, .total-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total-label {
  width: 25%;
  font-weight: bold;
}

.order-btn {
  width: 90%;
  padding: 13px;
  font-size: 15px;
  background-color: #dbb58c;
  border-radius: 30px;
  border: none;
}
