* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EFEFEF;
  margin: 0;
  height: 100dvh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  grid-area: nav-bar;
  background-color: #45291b;
  color: #F9F2C5;
  padding: 10px;
}

main {
  grid-area: body;
  padding: 25px;
}

.logo {
  width: 38px;
  height: 40px;
}

.brand-name {
  font-size: 16px;
}

.card {
  background-color: #EBE1D6;
  border-radius: 3px;
  box-shadow: 0 2px 15px 1px rgb(0, 0, 0, 0.15);
  padding: 0 15px 0 15px;
  width: 600px;
}

.checkout {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.grid-container {
  grid-template-areas:
  "nav-bar nav-bar"
  "body body";
}
